
.console-output {
    padding: 1em;
    line-height: 0pt;
    background-color: black;
    color: white!important;
}

.console-output a:link {
    color: #b088ff;
}

.console-output a:visited {
    color: #8888ff;
}
